$mainFont: 'Cinzel', serif;
$secondFont: 'Cormorant', serif;
$mainFontWeight: 400;
$titleFontWeight: 600;
$mainTextColor:#fa3ed4;
$bgColor:#027d00;
$btnBgColor:#0228a6;
$btnBgHoverColor:#1b4ef7;
$linkHoverColor:#f007d1;
$cubicBezier:cubic-bezier(0.4, 0, 0.2, 1);